@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:wght@600&display=swap');

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 48px !important;
    color: #422F01;
    line-height: 3.5rem;
    }
    
h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 30px !important;
    color: #422F01;
    }
    
h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px !important;
    color: #422F01;
    }
    
span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    color: #422F01;
    line-height: 1.5rem;
    }

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
    color: #422F01;
    }



    